
// Body
$body-bg: #FFFFFF;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$ubuntu: 'Ubuntu', sans-serif;
$fontinicio:  'worksans-semibold', "work sans", sans-serif;
$fontheader:  "Work+Sans:200", "work sans", sans-serif;
$fontcuerpo:  "worksans-light", "work sans", sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$verdeLimon:#8FC31F;
$verde:#009240;
$white: #FFFFFF;
