
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// @import url('https://fonts.googleapis.com/css?family=Work+Sans:200,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,600,700&display=swap');

// Variables
@import 'variables';

//pages
@import "page/init";


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
