.right_col {
  min-height: 200vh !important;
}

.margin-content {
  min-height: 500px !important;
}

.margin-content2 {
  min-height: 800px !important;
}

.profile_img2 {
  width: 29px !important;
  height: 29px !important;
  padding: 4px !important;
}

.formulario__content img {
  width: 85%;
}

.formulario__content .filds {
  padding-top: 15px;
}

.formulario__content__top {
  padding-top: 2vh;
}

.formulario__content .btn-enviar {
  background: #2a3f54;
}

.formulario__content .btn-enviar:hover {
  background: #2a3f5499;
}

.alert-danger {
  background-color: #940d1af2 !important;
  display: none;
  cursor: pointer;
}

