.formulario{
    display: flex;
    height: 100vh;
    // &__group [class*="col-"] {
    //   padding-left: 0 !important;
    // }

    &__content{
      padding: 80px;

      &__terminos{
        margin-top: 15px;
        a{
          color:black;
          font-weight: bold;
          &:hover{
            color:black;

          }

        }
      }
      .filds{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
        left: 0px;
        .error{

          border-top: 1px solid #f10d0dd4;
          border-left: 1px solid #f10d0dd4;
          border-right: 1px solid #f10d0dd4;
          border-bottom: 1px solid #f10d0dd4;

          &:focus{
            // outline:none !important;
            border-top: 1px solid #f10d0dd4;
            border-left: 1px solid #f10d0dd4;
            border-right: 1px solid #f10d0dd4;
          }
          &:hover{
            border-top: 1px solid #f10d0dd4;
            border-left: 1px solid #f10d0dd4;
            border-right: 1px solid #f10d0dd4;

          }
        }
      }
      label{
        color: #f10d0dd4;
        text-align: left;
        // margin-left: 15px;
      }
      .is-invalid{

        border-top: 1px solid red;
        border-left: 1px solid red;
        border-right: 1px solid red;
        border-bottom: 1px solid red;

        &:focus{
          // outline:none !important;
          border-top: 1px solid red;
          border-left: 1px solid red;
          border-right: 1px solid red;
        }
        &:hover{
          border-top: 1px solid red;
          border-left: 1px solid red;
          border-right: 1px solid red;

        }
      }

      input,textarea{
        width: 100%;
        height:36px;
        border: 0px;
        padding-left: 12px;
        border-bottom: 1px solid rgba(57, 62, 68, 1);
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
        transition: border-bottom, box-shadow .25s ease-in-out;
        border-style: solid;
        border-color: rgba(57, 62, 68, 1);
        &.mensaje{
          height: 90px;
          resize: none;
        }
      }

      input:hover, textarea:hover{
        border-top: 1px solid rgba(57, 62, 68, 1);
        border-left: 1px solid rgba(57, 62, 68, 1);
        border-right: 1px solid rgba(57, 62, 68, 1);
        border-bottom: 1px solid rgba(57, 62, 68, 1);

      }

      input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      }

      input:focus,
      textarea:focus{
        outline:none !important;
        border-top: 1px solid rgba(57, 62, 68, 1);
        border-left: 1px solid rgba(57, 62, 68, 1);
        border-right: 1px solid rgba(57, 62, 68, 1);
        border-bottom: 1px solid rgba(57, 62, 68, 1);

      }

      input::-webkit-input-placeholder,
      input::-moz-input-placeholder{
      	color: #393E44;
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
      }
      input::placeholder,
      textarea::placeholder{
      	color: #393E44 !important;
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
      }

      .btn-enviar{
        font-size: 18px;
        line-height: 15px;
        font-family:$fontheader;
        background-color: #393e44;
        color: rgb(195, 197, 199);
        // display: block;
        padding: 20px 10px;
        text-align: center;
        letter-spacing: 0.05em;
        border: 0 solid #393e44;
        width: 100%;
      }

    }
    &__content2{
      padding-left: 120px;
      padding-right: 120px;
      padding-top: 120px;
      padding-bottom: 50px;
      &__titulo{
        &--mediano{
          font-size: 18px;
          line-height: 22px;
          font-family: $fontheader;
          color: rgba(57,62,68,1);
        }
      }
      .filds{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        margin-bottom: 12px;
        margin-top: 15px;
        left: 0px;
        .error{

          border-top: 1px solid #f10d0dd4;
          border-left: 1px solid #f10d0dd4;
          border-right: 1px solid #f10d0dd4;
          border-bottom: 1px solid #f10d0dd4;

          &:focus{
            // outline:none !important;
            border-top: 1px solid #f10d0dd4;
            border-left: 1px solid #f10d0dd4;
            border-right: 1px solid #f10d0dd4;
          }
          &:hover{
            border-top: 1px solid #f10d0dd4;
            border-left: 1px solid #f10d0dd4;
            border-right: 1px solid #f10d0dd4;

          }
        }
      }
       label{
         color: #f10d0dd4;
         margin-left: 15px;
       }

      input{
        border-top: 1px solid rgba(57, 62, 68, 1);
        border-left: 1px solid rgba(57, 62, 68, 1);
        border-right: 1px solid rgba(57, 62, 68, 1);
        border-bottom: 1px solid rgba(57, 62, 68, 1);
        width: 100%;
        height:36px;
        padding-left: 12px;
        // border-bottom: 1px solid #dcdee073;
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
        transition: border-bottom, box-shadow .25s ease-in-out;
        border-style: solid;
        // border-color: rgba(57, 62, 68, 1);


      }

      input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      }

      input:focus{
        outline:none !important;
        border-top: 1px solid rgba(57, 62, 68, 1);
        border-left: 1px solid rgba(57, 62, 68, 1);
        border-right: 1px solid rgba(57, 62, 68, 1);

      }

      input::-webkit-input-placeholder,
      input::-moz-input-placeholder{
        color: #393E44;
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
      }
      input::placeholder{
        color: #393E44 !important;
        font-size: 14px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
      }

      .btn-enviar{
        font-size: 14px;
        line-height: 15px;
        font-family:$fontheader;
        background-color: #393e44;
        // color: rgb(195, 197, 199);
        color: $white;
        // display: block;
        padding: 10px 10px;
        text-align: center;
        letter-spacing: 0.05em;
        border: 0 solid #393e44;
        width: 100%;
      }

    }
    h4{
      font-size: 22px;
      line-height: 24px;
      // font-family: $arvo;
      letter-spacing: 0.05em;
    }
    p{
      font-size: 13px;
      line-height: 15px;
      // font-family: $open;
      margin-bottom: 0px;
    }
  }

#modalPolitica{
  .parrafo{
    .titulo{
      &--mediano{
        margin-bottom: 32px;
        margin-top: 45px;
      }
    }
    p{
      text-align: justify;
    }
  }
}
