.footer {
  // padding-top: 200px;

  &__container{
    text-align: center;
    padding: 0;
    position: relative;
    &__redes{
      list-style:none;
      margin-right: 55px;
      margin-bottom: 40px;
      li{
        display:inline;
        padding: 8px;
        i{
          color: black;
          font-size: 16px;
        }
      }
    }
  }
}
