.graciasparallax{
  padding: 0;
  position: relative;

  &__content{
    background-size: cover;
    height: 150vh;
    &__item{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      width: 84%;
      margin: auto;
      &__titulo{
        text-align: center;
        padding-top: 240px;

        &--primero{
          color: $white;
          display: inline-block;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-weight: normal;
          font-stretch: normal;
          font-size: 72px;
          line-height: 1.25em;
          padding-left: 14.12px;
          font-family: $fontinicio;
          position: relative;
          display: block;
          font-weight: 900;
        }
        &--segundo{
          color: $white;
          display: block;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-weight: normal;
          font-stretch: normal;
          font-size: 20px;
          font-family: $fontheader;
          text-shadow: 4px 4px 4px #aaa;
        }

      }

    }
    .single-image{
      background-attachment: fixed;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 80% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
    }
  }


}
