.header{
  &__top{
    &__link{
      font-style: normal;
      font-variant-ligatures: normal;
      font-variant-caps: normal;
      font-variant-numeric: normal;
      font-variant-east-asian: normal;
      font-weight: normal;
      font-stretch: normal;
      font-size: 40px;
      line-height: 2.35em;
      font-family: $fontheader;
      color: #546375;

      a{
        color: #546375;

        &:hover{
          text-decoration: none;
          color: #546375;

        }
      }

    }
  }
}


.navegador{
  position: relative;
  text-align: center;
  &__link{
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      position: relative;

      &:last-child:after{
        background: transparent;
      }
      .links{
        transition: 0.3s ease;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        padding-top: 60px;
        margin: 0 10px;
        display: inline-block;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 14px;
        line-height: 1.79em;
        font-family: "proxima-n-w01-reg", sans-serif;
        color: #44484c;
        line-height: 15px;
        // &:hover{
        //   color: #393E44;
        //   border-bottom: 2px solid black;
        //   padding: 5px 0;
        // }
      }
    }
  }
}

.menu__responsive{
  width: 100%;
  height: 60px;
  background: white;
  position: fixed;
  top:0;
  z-index: 123;
  display: none;
  box-shadow: 0px 12px 24px rgba(43, 58, 96, 0.06);
  .logo__responsive{
    width: 100%;
    padding: 14px 18px;
    img{
      width: 130px;
    }
  }
}
#menu-icon{
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  &-shape {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0px;
    right: 8px;
    display: none;
    z-index: 123;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #middle {
    margin: 4px 0;
    &.active{
      opacity: 0;
    }
  }
  /* Transform menu icon into close icon */
  #top.active {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
  }
  #bottom.active {
    -webkit-transform: translateY(-4px) translateX(0) rotate(-45deg);
    transform: translateY(-4px) translateX(0) rotate(-45deg);
  }
}
#top, #middle, #bottom {
  width: 100%;
  height: 2px;
  background: #585958;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* Navigation */

#overlay-nav {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  background:#585958;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.6s ease;
  transition: opacity 0.35s, visibility 0.35s, height 0.6s ease;
  &.active {
    width: 100%;
    height: 100%;
    opacity: 100;
    visibility: visible;
  }
  #nav-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    ul{
      margin: 0 auto;
      padding: 0;
      list-style: none;
      li{
        a{
          display: inline-block;
        }
      }
    }
    .menu__top{
      text-align: center;
      padding:0px 14px;
      padding-bottom: 12px;
      li{
        a{
          margin-bottom: 6px;
          font-family: $fontheader;
          text-decoration: none;
          font-size: 16px;
          padding: 6px 15px;
          position: relative;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          color: white;
          &:hover{
            background: white;
            box-shadow: 0px 8px 12px rgba(148, 156, 161, 0.1);
            border-radius: 5px;
            color: #585958;
          }
        }
      }
    }
    .menu__centro{
      border-top: 1px solid rgba(255, 255, 255, 0.22);
      border-bottom: 1px solid rgba(255, 255, 255, 0.22);
      padding: 14px 25px;
      li{
        display: inline-block;
        padding: 6px 0px;
        a{
          color: rgba(255, 255, 255, 0.48);
          font-size: 13px;
          padding: 8px 15px;
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.48);
          &:hover{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .menu__bottom{
      padding: 15px 0px;
      text-align: center;
      a{
        color: white;
        padding: 0px 9px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
