.m-top {
  margin-top: 30px;
}

body{
  overflow-x: hidden;
}


.bannerparallax{
  padding: 0;
  position: relative;
  // .item{
  //   overflow: hidden;
  // }

  &__content{
    background-size: cover;
    height: 100vh;
    &__item{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      width: 84%;
      // height: 80%;
      margin: auto;
      &__titulo{
        text-align: center;
        padding-top: 240px;

        &--primero{
          color: $white;
          display: inline-block;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-weight: normal;
          font-stretch: normal;
          font-size: 72px;
          line-height: 1.25em;
          padding-left: 14.12px;
          font-family: $fontinicio;
          position: relative;
          display: block;
          font-weight: 900;
        }
        &--segundo{
          color: $white;
          display: block;
          // display: inline-block;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-weight: normal;
          font-stretch: normal;
          font-size: 20px;
          font-family: $fontheader;
          text-shadow: 4px 4px 4px #aaa;
        }

      }

    }
    .single-image{
      background-attachment: fixed;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 50% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
    }
  }


}

.loquehacemos{
  padding: 0;
  position: relative;
  background: #f7f7f7;
  height: 165vh;

  &__content{
    text-align: center;
    background-size: cover;
    height: 115vh;

    .single-image{
      background-attachment: scroll;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 100% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
      // margin-top: -32px;

    }
    &__titulo{
      margin-top: 130px;
      margin-right: 300px;
      margin-bottom: 35px;
      margin-left: 300px;
      &--primero{
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 500;
        font-stretch: normal;
        font-size: 40px;
        line-height: 1.35em;
        font-family: $fontheader;
        color: #393E44;
      }
      &--segundo{
        margin-top: 40px;
        font-size: 18px;
        line-height: 1.75em;
        font-weight: 400;
        font-family: $fontheader;
        color: #393E44;
      }
      p{
        bottom:20px;
        font-size: 15px;
        font-family: "proxima-n-w01-reg", sans-serif;
        color: #393E44;
      }
    }
  }
}

.nuestrascausas{
  padding: 0;
  position: relative;
  // height: 110vh;

  &__content{
    text-align: center;
    background-size: cover;
    height: 105vh;
    &__titulo{

      margin-top: 130px;
      margin-right: 300px;
      margin-bottom: 35px;
      margin-left: 300px;
      &--primero{
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 500;
        font-stretch: normal;
        font-size: 40px;
        line-height: 1.35em;
        font-family: $fontheader;
        color: #393E44;
      }
      &--segundo{
        margin-top: 18px;
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 1.75em;
        font-weight: 400;
        font-family: $fontheader;
        color: #393E44;
      }
      p{
        bottom:20px;
        font-size: 15px;
        font-family: "proxima-n-w01-reg", sans-serif;
        color: #393E44;
      }
    }
    &__img{

      &__titulo{
        text-align: left !important;
        padding-top: 80px;
        padding-right: 240px;
        padding-left: 20px;
        a{
          &:hover{
            text-decoration: none;
          }
        }
        &--primero{
          font-size: 22px;
          line-height: 1.35em;
          font-family: $fontheader;
          color: rgba(255, 255, 255, 1) !important;
        }
        &--segundo{
          margin-top: 18px;
          margin-bottom: 60px;
          font-size: 18px;
          line-height: 1.75em;
          font-weight: 400;
          font-family: $fontheader;
          color: rgba(255, 255, 255, 1) !important;
        }
        .p-button{
          padding-top: 20px;
          padding-bottom: 58px;
        }
      }

      &__button{
        justify-content: center;
        color: rgba(255, 255, 255, 1) !important;
        padding: 10px;
        background-color: rgba(57, 62, 68, 1);
        border: solid transparent 0px;
        cursor: pointer !important;
        display: flex;
        align-items: center;
        border-radius: 100px;
        &:hover{
          background-color: #585c5dcc;
        }
      }

      .single-image2{
         // -webkit-background-size: cover;
         // -moz-background-size: cover;
         // -o-background-size: cover;

         background-size: cover;
         // height: 80%;
         // width: 100% ;
         // text-align: center;
      }

    }

    .single-image{
      background-attachment: scroll;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 50% !important;
      background-repeat: repeat;
      background-size: cover !important;
      // height: 100%;
    }


  }

}

.nuestrascausas2{
  padding: 0;
  position: relative;

  &__content{
    background-size: cover;
    height: 80vh;
    &__item{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      width: 84%;
      margin: auto;
      &__titulo{
        text-align: center;
        padding-top: 200px;
        &--primero{
          color: $white;
          display: inline-block;
          font-weight: normal;
          font-size: 22px;
          line-height: 1.25em;
          padding-left: 14.12px;
          font-family: $fontheader;
          position: relative;
          display: block;
          text-transform: uppercase;
          text-shadow: 4px 4px 4px #ffffff;
        }
        &--segundo{
          padding-top: 20px;
          color: $white;
          display: block;
          font-weight: normal;
          font-size: 15px;
          font-family: $fontheader;
          text-shadow: 4px 4px 4px #ffffff;
          text-transform: uppercase;
        }

      }

    }
    .single-image{
      background-attachment: fixed;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 50% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
    }
  }


}

.contacto{
  padding: 0;
  position: relative;

  &__content{
    text-align: center;
    background-size: cover;
    height: 50vh;
    margin-bottom: 50vh;
    &__contactenos{
      padding: 80px;
      &--primero{
        font-size: 40px;
        line-height: 1.35em;
        font-family: "worksans-extralight", "work sans", sans-serif;
        color: #393E44;
      }
      &--segundo{
        padding-top: 15px;
        font-size: 15px;
        line-height: 1.875em;
        font-family: "proxima-n-w01-reg", sans-serif;
        color: #393E44;
        a{
          text-decoration: none;
          color: #393E44;
          &:hover{
            text-decoration: none;
            color: #393E44;
          }
        }
      }
    }

  }

}
