.top{
  display: none;
}
.top2{
  display: none;
}

.ofrenda{
  &__contenido{
    // background: #f5f5f5;
    padding: 50px 0;
    &__intro{
      background: #FFFFFF;
      border: 1px solid #EBF0F0;
      box-sizing: border-box;
      padding: 30px 30px 0 30px;
      box-shadow: 0px 4px 27px rgba(1, 15, 38, 0.04);
      input{
        border: 1px solid #EBF0F0;
      }
      h3{
        font-family: $fontheader;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        /* color: #0F58D6; */
        font-weight: 700;
      }
      p{
        font-family: $fontheader;
        ont-size: 16px;
        line-height: 21px;
        /* color: #475A6D; */
        margin-bottom: 25px;
      }
      &__filtros{
        h5{
          font-family: $fontheader;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: #475A6D;
        }
        .cursos{
          &__buscador{
            &__input{
              position: relative;
              input{
                // width: 50%;
                border: 1px solid #EDEDED;
                box-sizing: border-box;
                height: 50px;
                padding:4px 20px;
              }
              button{
                position: absolute;
                right: 12px;
                height: 35px;
                top: 0;
                bottom: 0;
                background: transparent;
                border: 1px solid transparent;
                margin: auto;
                i{
                  color: #218cbfb3;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    &__intro2{
      background: #FFFFFF;
      border: 1px solid #EBF0F0;
      box-sizing: border-box;
      padding: 30px 30px 30px 30px;
      box-shadow: 0px 4px 27px rgba(1, 15, 38, 0.04);

      ul{
        list-style: none;
      }
      li{
        padding-top: 5px;
        span{
          font-weight: bold;
        }
      }

      h3{
        font-family: $fontheader;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .split{
        font-family: $fontheader;
        font-size: 15px;
        line-height: 21px;
        text-align: justify;
        margin-bottom: 25px;
      }
      &__p1{
        padding: 20px 0px 70px 60px;
      }
      &__p2{
        // background-image:url('storage/fondo.jpg');
        padding: 20px 70px 70px 60px;

        .iglesia{
            height: 43vh;
        }
      }
      &__p3{
        padding: 25px 10px 10px 0px;
      }
      &__cuentas{
        text-align: center;
      }
    }
    &__cursos{
      margin-top: 35px;
      &__cards{
        box-shadow: 0px 4px 27px rgba(1, 15, 38, 0.04);

        &__botones{
          border-top: 1px solid rgba(204, 204, 204, 0.2901960784313726);


          .hovermsj{
              &:hover{

                .top{
                  display: block !important;
                  min-width:200px;
                  max-width:400px;
                  top:50vh;
                  left:26%;
                  transform:translate(-30%,-100%);
                  padding:10px 15px;
                  color:#ffffff;
                  background-color:#009cdc;
                  font-weight:normal;
                  font-size:14px;
                  border-radius:8px;
                  position:absolute;
                  z-index:99999999;
                  box-sizing:border-box;
                  box-shadow:0 1px 8px rgba(0,0,0,0.5);
                  display:none;
                }

              }
          }

          .hovermsj2{
              &:hover{

                .top2{
                  display: block !important;
                  min-width:200px;
                  max-width:400px;
                  top:50vh;
                  left:50%;
                  transform:translate(-30%,-100%);
                  padding:10px 15px;
                  color:#ffffff;
                  background-color:#009cdc;
                  font-weight:normal;
                  font-size:14px;
                  border-radius:8px;
                  position:absolute;
                  z-index:99999999;
                  box-sizing:border-box;
                  box-shadow:0 1px 8px rgba(0,0,0,0.5);
                  display:none;
                }

              }
          }


          //
          // .hovermsj:hover .top {
          //     display:block;
          // }



          ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            li{
              width: 50%;
              border: 1px solid rgba(204, 204, 204, 0.16);

              // display: inline-block;
              // position: relative;
              // color: #333;
              // text-decoration: none;
              // padding: 0 4px;
              // &:before,
              // &:after {
              // content: "";
              //   width: 100%;
              //   height: 2px;
              //   position: absolute;
              //   box-sizing: border-box;
              //   transform: scale(0);
              // }
              // &:before,
              // &:after {
              // content: "";
              //   width: 100%;
              //   height: 100%;
              //   position: absolute;
              //   top: 0;
              //   left: 0;
              //   box-sizing: border-box;
              //   transform: scale(0);
              //   transition: 0.5s;
              // }
              // &:before {
              //   border-bottom: 2px solid #504f4fab;
              //   border-left: 2px solid #333333d1;
              //   transform-origin: 0 100%;
              // }
              // &:after {
              //   border-top: 2px solid #504f4fab;
              //   border-right: 2px solid #333333d1;
              //   transform-origin: 100% 0%;
              // }
              // &:hover:after,
              // &:hover:before {
              //   transform: scale(1);
              // }

              a{
                font-family: $fontheader;
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 17px;
                text-align: center;
                text-transform: uppercase;
                transition: all 1s;
                color: #475A6D;
                padding:16px 0;
                &:hover{
                  color: #fff;
                  text-decoration: none;
                  background: #218cbfb3;
                  box-shadow: 0px 6px 10px rgba(71, 90, 109, 0.03);
                }
              }
            }
          }

        }
        &__contenido{
          padding: 25px 25px;
          padding-bottom: 0;
          h3{
            font-family: $fontheader;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: #475A6D;
          }
          ul{
            display: flex;
            list-style: none;
            padding-left: 0;
            li{
              i{
                color: #565353bf;
              }
              font-family: $fontheader;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: #475A6D;
              margin-right: 25px;
            }
          }
        }
        &__img{

          &:before,
          &:after {
          content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            box-sizing: border-box;
            transform: scale(0);
          }
          &:before,
          &:after {
          content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            transform: scale(0);
            transition: 0.5s;
          }
          &:before {
            border-bottom: 5px solid #71CDF8;
            border-left: 5px solid #71CDF8;
            transform-origin: 0 100%;
          }
          &:after {
            border-top: 5px solid #71CDF8;
            border-right: 5px solid #71CDF8;
            transform-origin: 100% 0%;
          }
          &:hover:after,
          &:hover:before {
            transform: scale(1);
          }

          @supports(object-fit: cover){
              img{
                height: 100%;
                object-fit: cover;
                object-position: center center;
              }
          }

          height: 255px;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          position: relative;
          &__categoria{
            position: absolute;
            left: 20px;
            top: 20px;
            h4{
              font-family: $fontheader;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              color: #FFFFFF;
              background: #7B0D93;
              padding: 2px 5px;
            }
          }
          &__nombre{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(111, 111, 111, 0.68);
            padding-top: 10px;
            padding-bottom: 5px;
            padding-left: 20px;
            h3{
              font-family: $fontheader;
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 21px;
              color: #FFFFFF;
              span{
                font-weight: bold;
              }
            }
          }
        }

      }

    }

  }
}


.pastores{
  &__card{
    padding-top: 20px;
    .paginacion{
      text-align: right;
      ul{
        padding: 0;
        margin: 0;
        margin-top: 20px;
        li{
          display: inline-block;
          margin: 0px 6px;
          a{
            color:  #EBF0F0;
            border:2px solid  #EBF0F0;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            font-family: $fontheader;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            &.active{
              color: #71CDF8;
              border:2px solid #71CDF8;
            }
            &:hover{
              color: #71CDF8;
              border:2px solid #71CDF8;
            }
          }
        }
      }
    }
    &--paginacion{
      padding: 30px 50px;
      text-align: left;
      font-weight: 200;
      box-shadow: 0px 4px 27px rgba(1, 15, 38, 0.04);
      span{
        font-family: $fontheader;
        font-weight: 500;
        color: black;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
