.pastoresparallax{
  padding: 0;
  position: relative;

  &__content{
    background-size: cover;
    height: 90vh;

    &__item{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      width: 84%;
      margin: auto;

      .contacto{
        padding: 0;
        position: relative;

        &__content{
          text-align: center;
          background-size: cover;
          height: 50vh;
          margin-bottom: 50vh;
          &__contactenos{
            padding: 80px;
            &--primero{
              font-size: 40px;
              line-height: 1.35em;
              font-family: "worksans-extralight", "work sans", sans-serif;
              color: $white;
            }
            &--segundo{
              padding-top: 15px;
              font-size: 15px;
              line-height: 1.875em;
              font-family: "proxima-n-w01-reg", sans-serif;
              color: $white;

            }
          }

        }

      }

      &__titulo{
        text-align: center;
        padding-top: 280px;

        &--primero{
          color: $white;
          display: inline-block;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-weight: normal;
          font-stretch: normal;
          font-size: 72px;
          line-height: 1.25em;
          padding-left: 14.12px;
          font-family: $fontinicio;
          position: relative;
          display: block;
          font-weight: 900;
        }
        &--segundo{
          color: $white;
          display: block;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-weight: normal;
          font-stretch: normal;
          font-size: 20px;
          font-family: $fontheader;
          text-shadow: 4px 4px 4px #aaa;
        }
      }

    }
    .single-image{
      background-attachment: fixed;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 50% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
    }
  }


}

.invalid-feedback {
    font-size: 110% !important;
    text-shadow: 2px 2px 3px #ffffff;
}

.formularioPastor{
    display: flex;
    height: 100vh;
    // &__group [class*="col-"] {
    //   padding-left: 0 !important;
    // }

    &__content{
      padding: 80px;
      .btn-link{
        text-decoration: none;
        color: $white;
        &:hover{
          text-decoration: none;
          color: $white;
        }
      }
      .filds{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
        left: 0px;
      }

      input,textarea{
        width: 100%;
        height:36px;
        border: 0px;
        padding-left: 12px;
        border-bottom: 1px solid rgba(57, 62, 68, 1);
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
        // transition: border-bottom, box-shadow .25s ease-in-out;
        border-style: solid;
        border-color: rgba(57, 62, 68, 1);
        &.mensaje{
          height: 90px;
          resize: none;
        }
      }

      input:hover, textarea:hover{
        border-top: 1px solid rgba(57, 62, 68, 1);
        border-left: 1px solid rgba(57, 62, 68, 1);
        border-right: 1px solid rgba(57, 62, 68, 1);
        border-bottom: 1px solid rgba(57, 62, 68, 1);

      }

      input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      }

      input:focus,
      textarea:focus{
        outline:none !important;
        border-top: 1px solid rgba(57, 62, 68, 1);
        border-left: 1px solid rgba(57, 62, 68, 1);
        border-right: 1px solid rgba(57, 62, 68, 1);
        border-bottom: 1px solid rgba(57, 62, 68, 1);

      }

      input::-webkit-input-placeholder,
      input::-moz-input-placeholder{
      	color: #393E44;
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
      }
      input::placeholder,
      textarea::placeholder{
      	color: #393E44 !important;
        font-size: 15px;
        line-height: 1.875em;
        font-family: $fontcuerpo;
        font-weight: normal;
      }

      .btn-enviar{
        font-size: 18px;
        line-height: 15px;
        font-family:$fontheader;
        background-color: #393e44;
        color: $white;
        // display: block;
        padding: 20px 10px;
        text-align: center;
        letter-spacing: 0.05em;
        border: 0 solid #393e44;
        width: 100%;
      }

    }

    h4{
      font-size: 22px;
      line-height: 24px;
      // font-family: $arvo;
      letter-spacing: 0.05em;
    }
    p{
      font-size: 13px;
      line-height: 15px;
      // font-family: $open;
      margin-bottom: 0px;
    }
  }
