@media (max-width:991px) {
  .menu__responsive{
    display: block;
  }
  #menu-icon-shape{
    display: block;
  }
  .header{
    display: none !important;
  }
  .bannerparallax{
    &__content{
      margin-bottom: -54vh;
      &__item{
        &__titulo {
            padding-top: 110px !important;
            &--primero{
              font-size: 40px;
              padding-left: 0;
            }
            &--segundo{
              font-size: 16px;
            }
        }
      }
      .single-image {
          background-attachment: inherit;
          background-position: 43% 50% !important;
          height: 46%;
      }
    }
  }
  .loquehacemos{
    height: 100vh;
    &__content{
      .single-image {
           background-position: 62% 100% !important;
           height: 43%;
       }
      &__titulo {
          margin-top: 70px;
          margin-right: 50px;
          margin-bottom: 50px;
          margin-left: 50px;
          &--primero{
            font-size: 32px;
          }
          &--segundo{
            margin-top: 16px;
            font-size: 18px;
          }
      }
    }
  }

  .nuestrascausas{
    height: 167vh;
    &__content{
      &__titulo {
          margin-top: 90px;
          margin-right: 60px;
          margin-bottom: 35px;
          margin-left: 75px;
          &--primero{
            font-size: 30px;
          }
          &--segundo{
            margin-bottom: 24px;
            font-size: 16px;
          }
      }
      &__img{
        &__titulo{
          padding-right: 0 !important;
          &--primero{
            text-shadow: 4px 4px 4px #615c5c;
          }
          &--segundo{
            text-shadow: 4px 4px 4px #615c5c;
          }
        }
      }
    }
  }

  .contacto{
    &__content{
      margin-bottom: 120vh;
    }
  }

  .formulario{
    &__content{
      padding: 70px;
      padding-right: 50px;
    }
    &__content2{
      padding-left: 60px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 50px;
    }
    &__group{
      padding-left: 0 !important;
    }
  }

  //Pastores
  .pastoresparallax{
    &__content{
      height: 134vh;
      &__item{
        .contacto{
          &__content{
            &__contactenos {
               padding: 0px;
               padding-top: 150px;
           }
          }
        }
      }
    }
  }

  .formularioPastor{
    &__content {
        padding: 20px;
    }
  }

  //MI-OFRENDA
  .ofrenda{
    &__contenido{
      &__intro2 {
          padding: 36px 50px 35px 12px;
          &__p2{
            padding: 0px 0px 40px 28px;
          }
          &__p3{
            padding: 0px 0px 70px 44px;
          }
          &__cuentas{
            text-align: center;
            padding-left: 30px;
          }
          ul{
            padding-left: 8px;
          }
      }
    }
  }


}

@media (min-width:320px) and (max-width:400px){
  .nuestrascausas {
      height: 183vh;
  }
  .formulario{
    &__content2{
      padding-top: 120px;
    }
  }
}

@media (min-width:401px) and (max-width:500px){
  .loquehacemos {
      height: 96vh;
  }
  .nuestrascausas {
    height: 133vh;
  }
  .formulario{
    &__content2{
      // padding-top: 120px;
    }
  }

  .footer{
        margin-top: -72px;
  }
}

@media (min-width:501px) and (max-width:767px){
  .nuestrascausas {
      height: 183vh;
  }
  .formulario{
    &__content2{
      padding-top: 120px;
    }
  }
}

@media (min-width:768px) and (max-width:1023px){

  .bannerparallax{
    &__content {
      margin-bottom: -108vh;
      height: 200vh;
      &__item{
        &__titulo{
          padding-top: 215px !important;
          &--primero{
            font-size: 60px;
          }
          &--segundo{
            font-size: 22px;
          }
        }
      }

      .single-image{
        background-attachment: fixed;
        background-position: 50% 50% !important;
        background-repeat: repeat;
        background-size: cover !important;
      }

    }
  }

  .loquehacemos{
    &__content{
      height: 120vh;
      .single-image{
        background-attachment: scroll;
        background-position: 50% 67% !important;
        background-size: cover !important;
        height: 53%;

      }
    }
  }

  .nuestrascausas {
      height: 174vh;
      &__content{
        &__titulo{
          margin-top: 120px;
          margin-bottom: 40px;
        }
        &__img{
          &__titulo{
            padding-right: 170px !important;
          }
        }
      }
  }

  .contacto{
    &__content {
        margin-bottom: 80vh;
    }
  }

  //PASTORES

  .pastoresparallax{
    &__content {
        height: 90vh;
    }
  }
  .formularioPastor{
    &__content{
      padding: 40px;
      padding-top: 160px;
    }
  }
}

@media (min-width:1024px) and (max-width:1300px){

  .loquehacemos{
    &__content{
      height: 180vh;
      .single-image{
        background-attachment: scroll;
        background-position: 50% 67% !important;
        background-size: cover !important;
        height: 53%;

      }
    }
  }

  .nuestrascausas{
    height: 124vh;
    &__content{
      &__img{
        &__titulo{
          padding-right: 65px !important;
        }
      }
    }
  }

  .contacto{
    &__content{
      margin-bottom: 60vh;
    }
  }

  //PASTORES

  .pastoresparallax{
    &__content {
        height: 92vh;
    }

    .formularioPastor{
      &__content{
        padding: 100px 75px 20px 0px;
        &__item{
          .contacto{
            &__content{
              &__contactenos {
                 padding: 90px 40px;
             }
            }
          }
        }
      }
    }
  }


}
