.right{
  &_col{
    min-height: 200vh !important;
  }
}
.margin-content{
  min-height: 500px !important;
}
.margin-content2{
  min-height: 800px !important;
}
.profile{
  &_img2{
   width: 29px !important;
   height: 29px !important;
   padding: 4px !important;
  }
}


.formulario{
  &__content{
    img{
      width: 85%;
    }
    .filds{
      padding-top: 15px;
    }
    &__top{
      padding-top: 2vh;
    }
    .btn-enviar{
      background: #2a3f54;
      &:hover{
        background: #2a3f5499;
      }
    }
  }

}


.alert-danger{
    background-color: #940d1af2 !important;
    display: none;
    cursor: pointer;
}
